server:
  port: 8085

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=TradeDB;encrypt=true;trustServerCertificate=true
    username: sa
    password: root
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # 1 day
      refresh-token:
        expiration: 604800000 # 7 days
