server:
  port: 0 # Random port

spring:
  application:
    name: trade-service
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=TradeDB;encrypt=true;trustServerCertificate=true;createDatabaseIfNotExist=true
    username: sa
    password: root
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
